{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/register_styles.css') }}">
    <table style="width: 100%">
        <tr>
            <td style="width: 25%"></td>
            <td style="width: 50%">
                <div class="register-container">
                    <div class="register-form">
                        <h1>Register</h1>

                        {{ form_start(registrationForm) }}
                        <div class="form-group">
                            {{ form_label(registrationForm.username) }}
                            {{ form_widget(registrationForm.username) }}
                            {% for error in registrationForm.username.vars.errors %}
                                <div class="alert alert-danger">{{ error.message }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        {% for error in registrationForm.plainPassword.vars.errors %}
                            <div class="alert alert-danger">{{ error.message }}</div>
                        {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="inputPasswordRepeat">Repeat Password</label>
                            <input type="password" id="inputPasswordRepeat" name="plainPasswordRepeat" required>
                        </div>
                        <div>
                            <button type="submit" class="btn">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </td>
            <td style="width: 25%"></td>
        </tr>
    </table>

    <script>
        document.querySelector('form').onsubmit = function (event) {
            const password = document.getElementById('registration_form_plainPassword').value;
            const passwordRepeat = document.getElementById('inputPasswordRepeat').value;
            if (password !== passwordRepeat) {
                event.preventDefault();
                alert('Passwords do not match.');
            }
        };
    </script>
{% endblock %}